* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
	background-color: #e5e5e5;
	font-size: 14px;
}

.container {
	position: relative;
	margin: 20px auto;
	width: 1280px;
	height: 1399px;
	background-color: #f5f7fa;
}

.wrapper {
	position: absolute;
	top: 40px;
	left: 40px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	width: 1200px;
	height: 1319px;
	background-color: #fff;
	box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

ul {
	list-style: inside;
}

ol {
	padding: 0 20px;
	font-weight: 700;
}

a {
	text-decoration: none;
}

.left-text {
	margin: 50px 0 0 40px;
	color: #fff;
}

.contact-letter {
	font-weight: 700;
}

.contact-link {
	padding-left: 10px;
	color: #fff;
	opacity: 0.4;
}

.left-side {
	width: 370px;
	background-color: #1e2939;
}

.profile-img {
	margin-top: 40px;
	width: 370px;
}

.list-secondary {
	color: #fb6d3a;
}

.list-secondary-item {
	color: #fff;
}

.right-side {
	margin: 100px 215px auto 80px;
}

.description-text {
	color: #595959;
}

.right-text,
.time-text,
h1,
h2,
h3,
h4 {
	margin-bottom: 20px;
}

.title-item {
	margin-top: 40px;
}

h1 {
	font-size: 3rem;
}

.time-text {
	color: #a8a8a8;
}

.position-text {
	color: #fb6d3a;
}

.ol-list-text {
	color: #595959;
	font-weight: 400;
}
